.button {
  @include clear-link;
  display: inline-block;
  color: $c-text-alt;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: 2px solid $c-text-alt;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $c-text-alt;
  }

  &:active {
    color: #7c7c7c;
  }
}

// .button:hover,
// .button:focus {
//   color: #ffffff;
//   background-color: $c-text-alt;
// }
//
// .button:active {
//   color: #7c7c7c;
// }
