.card {
  padding-bottom: 27px;
  border: 1px solid #ececec;
}

.card:hover,
.card:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:hover .card__link,
.card:focus .card__link {
  color: rgba(0, 0, 0, 0.6);
}

.card:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card:active .card__link {
  color: rgba(0, 0, 0, 0.3);
}

.card__image {
  margin-bottom: 25px;
}

.card__name {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 4px;
  padding-left: 28px;
  padding-right: 27px;
}

.card__link {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
}

.card__desc {
  color: $c-text-alt;
  font-size: $fz-xs;
  font-weight: $fw-base;
  line-height: 30px;
  margin: 0;
  padding-left: 28px;
  padding-right: 27px;
  margin-bottom: 17px;
}

.card__price-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 27px;

  &::before {
    position: absolute;
    top: 3px;
    content: "";
    width: 204px;
    height: 1px;
    background-color: #ececec;
  }
}

.card__price {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-bold;
  line-height: 24px;
  margin: 0;
}

.card__buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 30px;
  overflow: hidden;
  color: $c-text-alt;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: $bg-white;
  cursor: pointer;
}

.card__svg {
  position: absolute;
  top: 0;
  right: 0;
}

.card__buy:hover,
.card__buy:focus {
  color: rgba(0, 0, 0, 0.6);
}

.card__buy:hover path,
.card__buy:focus path {
  fill: $bg_green;
}

.card__buy:hover .card__svg,
.card__buy:focus .card__svg {
  fill: $bg_green;
}

.card__buy:active {
  opacity: 0.3;
}

.card__buy:active path {
  fill: $bg_green;
}

.card__buy:active .card__svg {
  fill: $bg_green;
}

@media (min-width: $tablet-width) {
  .card {
    width: 668px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    min-height: 334px;
    height: 334px;
  }

  .card__image {
    width: 50%;
    margin-bottom: 0;
  }

  .card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 26px;
    padding-top: 0;
    padding-bottom: 29px;
    padding-right: 25px;
  }

  .card__desc {
    font-size: $fz-s;
    line-height: 30px;
    margin-bottom: 174px;
  }

  .card__name {
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 24px;
    margin-bottom: 0;
    min-height: 27px;
  }

  .card__link {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  .card__price-wrapper {
    padding-left: 31px;
    padding-right: 7px;

    &::before {
      width: 268px;
      top: 1px;
    }

    .card__svg {
      // right: 7px;
    }
  }

  .card__price {
    font-size: $fz-base;
    line-height: 24px;
  }

  .card__buy {
    font-size: 0;
    line-height: 0;
  }
}


@media (min-width: $desktop-width) {
  .card {
    width: 316px;
    min-height: 660px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .card__image {
    width: 100%;
    height: 462px;
    margin-bottom: 0;
  }

  .card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .card__name {
    margin-bottom: 0;
  }

  .card__desc {
    padding-bottom: 15px;
    padding-left: 25px;
    margin-bottom: 0;
    margin-top: -20px;
  }

  .card:last-child .card__desc {
    margin-top: 0;
  }

  .card__price-wrapper {
    padding-left: 26px;
    padding-right: 31px;
    padding-bottom: 26px;
    padding-top: 23px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card__price {
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    .card__name {
      min-height: 25px;
    }

    .card:last-child .card__name {
      min-height: 49px;
    }
  }
}

// @-moz-document url-prefix() {
//   .card__buy {
//     padding: 10px;
//   }
//
//   @media (min-width: $tablet-width) {
//     .card__text-wrapper {
//       margin-top: 24px;
//     }
//
//     .card__name {
//       min-height: 25px;
//       margin-bottom: 5px;
//     }
//   }
// }

// @-moz-document url-prefix() {
//   @media (min-width: $desktop-width) {
//     .card__desc {
//       padding-left: 25px;
//     }
//
//     .card__name {
//       margin-bottom: 2px;
//     }
//   }
// }
