.contacts {
  position: relative;
}

.contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 39px;
}

.contacts__title {
  color: $c-text-base;
  font-size: 18px;
  font-weight: $fw-bold;
  line-height: 30px;
  // width: 260px;
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contacts__table {
  margin: 0 auto;
  margin-bottom: 35px;
  // width: 260px;
  width: 81.25%;
}

.contacts__tbody {
  display: flex;
  flex-direction: column;
}

.contacts__row {
  vertical-align: top;
  margin-bottom: 0;
}

.contacts__row:first-child {
  margin-bottom: 29px;
}

.contacts__head {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  padding-right: 28px;
}

.contacts__cell {
  // width: 150px;
  // width: 46.875%;
  line-height: 30px;
}

.contacts__email {
  @include clear-link;
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid $bg-green;
}

.contacts__email:hover,
.contacts:focus {
  color: #46c1ae;
}

.contacts__email:active {
  opacity: 0.3;
}

.contacts__map {
  position: relative;
}

.contacts__map::before {
  position: absolute;
  content: "";
  top: 147px;
  left: 50%;
  margin-left: -22px;
  display: block;
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
}

.contacts__map-link {
  display: block;
  background-image: url("../img/map-mobile@1x.jpg");
  // width: 320px;
  width: 100%;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.contacts__write-us {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  width: 260px;
  letter-spacing: 1px;
}

@media (max-width: $mobile-width-only) {
  .contacts__row {
    display: flex;
  }

  // .contacts__head {
  //   width: 134px;
  // }

  .contacts__cell:not(.contacts__head) {
    width: 57.69%;
  }
}

@media (min-width: $tablet-width) {
  // .contacts {
  //   position: relative;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   padding-left: 0;
  //   padding-right: 0;
  //   padding-top: 63px;
  //   padding-bottom: 57px;
  // }

  .contacts__wrapper {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 63px;
    padding-bottom: 57px;
  }

  .contacts__wrapper::before {
    position: absolute;
    content: "";
    top: 48px;
    right: 55px;
    display: block;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .contacts__title {
    // width: 668px;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    margin: 0 auto;
    // width: 668px;
    width: 88%;
    margin-bottom: 54px;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
  }

  .contacts__tbody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__head {
    padding-top: 0;
    padding-right: 22px;
    vertical-align: top;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
  }

  .contacts__cell {
    vertical-align: top;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
    width: 230px;
  }

  .contacts__email {
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
    padding-bottom: 2px;
  }

  .contacts__map {
    width: 100%;
    margin-bottom: 16px;
  }

  .contacts__map::before {
    top: 138px;
    margin-left: -22px;
  }

  .contacts__map-link {
    background-image: url("../img/map-tablet@1x.jpg");
    width: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  .contacts__write-us {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  // .contacts {
  //   width: 1050px;
  //   min-height: 636px;
  //   margin: 0 auto;
  //   padding-left: 174px;
  //   padding-right: 29%;
  //   padding-top: 166px;
  //   padding-bottom: 105px;
  //   display: flex;
  //   justify-content: flex-start;
  //   flex-direction: column;
  // }

  .contacts__wrapper {
    width: 1050px;
    min-height: 636px;
    margin: 0 auto;
    padding-left: 170px;
    padding-right: 29%;
    padding-top: 166px;
    padding-bottom: 105px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .contacts__wrapper::before {
    top: 158px;
    left: 63px;
  }

  .contacts::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    height: 23px;
    background-size: 950px;
  }

  .contacts__title {
    width: 100%;
    margin: 0;
    font-size: 53px;
    font-weight: $fw-bold;
    line-height: 57px;
    margin-bottom: 48px;
    letter-spacing: -0.5px;
  }

  .contacts__table {
    width: 100%;
    margin: 0;
    margin-bottom: 46px;
    margin-left: 3px;
  }

  .contacts__tbody {
    display: flex;
    flex-direction: column;
  }

  .contacts__row {
    width: 100%;
    margin-bottom: 31px;
  }

  .contacts__head {
    padding-bottom: 0;
  }

  .contacts__map {
    position: absolute;
    top: 96px;
    right: 0;
    width: 50%;
  }

  .contacts__map::before {
    top: 146px;
  }

  .contacts__map-link {
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }

  .contacts__write-us {
    width: 230px;
    align-self: flex-start;
    margin: 0;
    margin-left: 4px;
    letter-spacing: 0;
  }
}
