.copyright__text {
  color: $c-text-base;
  font-size: $fz-l;
  font-weight: $fw-bold;
  line-height: 18px;
  padding-right: 30px;
}

.copyright__link {
  @include clear-link;
  display: flex;
  align-items: center;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: #46c1ae;
}

.copyright__link:hover .copyright__svg,
.copyright__link:focus .copyright__svg {
  fill: #46c1ae;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__svg {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 2px;
  }

  .copyright__svg {
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    padding-top: 0;
  }

  .copyright__svg {
    margin-top: 5px;
  }
}
