.form {
  padding-bottom: 55px;
}

.form__legend {
  text-transform: uppercase;
}

.form__fieldset-wrapper {
  position: relative;
}

.form__field-wrapper {
  margin-bottom: 20px;
}

.form__legend {
  position: relative;
  color: $c-text-green;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 16px;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    top: 8px;
    right: 0;
    width: 76.15%;
    height: 1px;
    background-color: $bg-green;
  }
}

.form__fieldset {
  @include clear-mp;
  border: none;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.form__list {
  @include clear-list;
}

.form__option,
.form__label {
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 18px;
  margin-bottom: 25px;
}

.form__option {
  margin-bottom: 23px;
}

.form__fieldset--colors {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form__fieldset--colors .form__option {
  margin-bottom: 43px;
}

.form__fieldset--name {
  padding-bottom: 9px;
}

.form__fieldset--name .form__field-wrapper {
  margin-bottom: 22px;
}

.form__fieldset--name .form__legend {
  margin-bottom: 30px;
}

.form__fieldset--name .form__label {
  margin-bottom: 14px;
}

.form__fieldset--name .form__field {
  padding-bottom: 17px;
}

.form__label {
  display: block;
  margin-bottom: 20px;
}

.form__fieldset--phone .form__field-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.svg--phone {
  position: absolute;
  top: -4px;
  right: 8px;
}

.form__fieldset--phone:hover .svg--phone,
.form__fieldset--phone:focus .svg--phone {
  fill: $bg-green;
}

.form__fieldset--phone:active .svg--phone {
  fill: $bg-green;
}

.form__fieldset--phone .form__legend {
  margin-bottom: 22px;
}

.form__fieldset--email {
  padding-bottom: 12px;
}

.form__fieldset--email:hover .svg--email path,
.form__fieldset--email:focus .svg--email path {
  fill: $bg-green;
}

.form__fieldset--email:active .svg--email path {
  fill: $bg-green;
}

.form__fieldset--email .form__field-wrapper {
  position: relative;
}

.svg--email {
  position: absolute;
  top: -4px;
  right: 4px;
}

.form__fieldset--email .form__legend {
  margin-bottom: 22px;
}

.form__fieldset--add {
  padding-bottom: 0;
  margin-bottom: 0;
}

.form__fieldset--add .form__legend {
  margin-bottom: 26px;
}

.form__fieldset--add .form__field {
  padding: 14px;
  padding-bottom: 0;
}

.form__fieldset--add .form__field-wrapper {
  margin-bottom: 10px;
}

/////////////////radio button/////////////////
.form__input--radio {
  opacity: 0;
  // display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__radio-label,
.form__checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 62px;
  cursor: pointer;
}

.form__radio-label::before,
.form__radio-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  cursor: pointer;
}

.form__radio-label::before {
  height: 40px;
  width: 40px;
  border: 2px solid $c-text-alt;
  border-radius: 50%;
  left: 0;
  top: -9px;
}

.form__radio-label:hover::before,
.form__radio-label:focus::before {
  border: 2px solid $bg-green;
}

.form__radio-label:active::before {
  border: 2px solid #c7c7c7;
}

.form__radio-label::after {
  height: 16px;
  width: 16px;
  background-color: $bg-green;
  border-radius: 50%;
  left: 12px;
  top: 3px;
}

.form__input--radio + .form__radio-label::after {
  content: none;
}

.form__input--radio:checked + .form__radio-label::after {
  content: "";
}

.form__input--radio:focus + .form__radio-label::before {
  outline: rgb(59, 153, 252) auto 5px;
  border-radius: 50%;
}
//////////////////////////////////
/////////////////checkbox/////////////////
.form__input--checkbox {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox-label {
  position: relative;
  display: inline-block;
  padding-left: 62px;
}

.form__checkbox-label::before,
.form__checkbox-label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.form__checkbox-label::before {
  height: 40px;
  width: 40px;
  border: 2px solid $c-text-alt;
  left: 0;
  top: -10px;
}

.form__checkbox-label:hover::before,
.form__checkbox-label:focus::before {
  border: 2px solid $bg-green;
}

.form__checkbox-label:active::before {
  border: 2px solid #c7c7c7;
}

.form__checkbox-label::after {
  height: 11px;
  width: 22px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 10px;
  top: 2px;
}

.form__input--checkbox + .form__checkbox-label::after {
  content: none;
}

.form__input--checkbox:checked + .form__checkbox-label::after {
  content: "";
}

.form__input--checkbox:focus + .form__checkbox-label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
//////////////////////////////////
.form__field {
  color: #d2d2d2;
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid $c-text-base;
  padding-bottom: 16px;
}

.form__field:hover,
.form__field:focus {
  color: $c-text-alt;
  border-bottom: 2px solid $bg-green;
}

.modal-form__field:active {
  border-bottom: 2px solid $bg-green;
}

.form__textarea {
  border: 2px solid $c-text-base;
  width: 100%;
  resize: none;
}

.form__textarea:hover,
.form__textarea:focus {
  border: 2px solid $bg-green;
}

.form__textarea:active {
  border-bottom: 2px solid $bg-green;
}

.form__note {
  color: $c-text-alt;
  font-size: 14px;
  font-weight: $fw-base;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 31px;
}

.form__button {
  background-color: $bg-white;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form {
    width: 100%;
    padding-bottom: 50px;
  }

  .form__fieldset {
    padding-bottom: 11px;
  }

  .form__fieldset-wrapper {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .form__legend {
    width: 25%;

    &::after {
      display: none;
    }
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    width: 74%;
  }

  .form__field-wrapper {
    width: 74%;
  }

  .form__field {
    width: 100%;
    font-size: $fz-l;
    font-weight: $fw-base;
    line-height: 18px;
    margin-top: -5px;
    padding-bottom: 13px;
    padding-left: 20px;
  }

  .form__radio-label,
  .form__checkbox-label {
    font-size: $fz-l;
    font-weight: $fw-bold;
    line-height: 18px;
  }

  .form__fieldset--type .form__option {
    margin-bottom: 56px;
  }

  .form__fieldset--type .form__radio-label {
    padding-left: 81px;
  }

  .form__fieldset--colors .form__option {
    width: 47%;
    margin-bottom: 57px;
  }

  .form__fieldset--name .form__fieldset-wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .form__fieldset--name .form__legend {
    margin-right: 0;
    width: 25%;
  }

  .form__fieldset--name .form__field {
    flex-grow: 1;
    padding-left: 20px;
    padding-bottom: 13px;
  }

  .form__fieldset--name .form__field-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 40px;
  }

  .form__note {
    position: absolute;
    bottom: -18px;
    right: 0;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
  }

  .form__fieldset--colors .form__fieldset-wrapper {
    padding-top: 66px;
  }

  .form__fieldset--colors .form__list {
    justify-content: space-between;
  }

  .form__fieldset--name {
    padding-top: 64px;
    padding-bottom: 8px;
  }

  .form__label {
    font-size: $fz-l;
    font-weight: $fw-bold;
    line-height: 18px;
  }

  .form__fieldset--name .form__label {
    margin-right: 25px;
  }

  .form__fieldset--phone {
    padding-top: 66px;
    padding-bottom: 28px;
  }

  .form__fieldset--phone .form__field {
    background-color: #f1f1f1;
  }

  .form__fieldset--email {
    padding-bottom: 30px;
  }

  .form__fieldset--email .form__field {
    background-color: #f1f1f1;
  }

  .form__fieldset--add {
    padding-top: 33px;
    margin-bottom: 27px;
  }

  .form__fieldset--add .form__legend {
    margin-top: 39px;
  }

  /////////////////radio button/////////////////
  .form__input--radio {
    opacity: 0;
  }

  .form__radio-label,
  .form__checkbox-label {
    position: relative;
    display: inline-block;
    padding-left: 62px;
    cursor: pointer;
  }

  .form__radio-label::before,
  .form__radio-label::after {
    position: absolute;
    content: "";
    display: inline-block;
    cursor: pointer;
  }

  .form__radio-label::before {
    height: 51px;
    width: 51px;
    border: 2px solid $c-text-alt;
    border-radius: 50%;
    left: 0;
    top: -18px;
  }

  .form__radio-label::after {
    height: 20px;
    width: 20px;
    background-color: $bg-green;
    border-radius: 50%;
    left: 16px;
    top: -2px;
  }

  .form__input--radio + .form__radio-label::after {
    content: none;
  }

  .form__input--radio:checked + .form__radio-label::after {
    content: "";
  }

  .form__input--radio:focus + .form__radio-label::before {
    outline: rgb(59, 153, 252) auto 5px;
    border-radius: 50%;
  }
  //////////////////////////////////
  /////////////////checkbox/////////////////
  .form__input--checkbox {
    opacity: 0;
  }

  .form__checkbox-label {
    position: relative;
    display: inline-block;
    padding-left: 81px;
  }

  .form__checkbox-label::before,
  .form__checkbox-label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .form__checkbox-label::before {
    height: 52px;
    width: 54px;
    border: 2px solid $c-text-alt;
    left: 0;
    top: -16px;
  }

  .form__checkbox-label::after {
    height: 16px;
    width: 30px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 13px;
    top: -2px;
  }

  .form__input--checkbox + .form__checkbox-label::after {
    content: none;
  }

  .form__input--checkbox:checked + .form__checkbox-label::after {
    content: "";
  }

  .form__input--checkbox:focus + .form__checkbox-label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
  //////////////////////////////////
}

.form__fieldset--colors,
.form__fieldset--phone,
.form__fieldset--email {
  background-color: #f1f1f1;
}


@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 49px;
  }

  .form__fieldset-wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 175px;
  }

  .form__field-wrapper {
    width: 100%;
  }

  .form__fieldset--type .form__option {
    width: 100%;
  }

  .form__fieldset--colors .form__list {
    width: 700px;
  }

  .form__fieldset--colors .form__option {
    // width: 33.3%;
    width: 26%;
    margin-right: -5px;
  }

  .form__fieldset--name .form__field-wrapper {
    width: 700px;
    display: flex;
  }

  .form__fieldset--name .form__label {
    margin-right: 25px;
  }

  .form__fieldset--name .form__legend {
    width: 14%;
  }

  .form__fieldset--phone {
    padding-top: 64px;
    padding-bottom: 27px;
  }

  .form__fieldset--add {
    margin-bottom: 25px;
  }

  .form__fieldset--add .form__legend {
    margin-right: 16px;
  }

  .form__fieldset--add .form__field-wrapper {
    width: 100%;
  }

  .form__note {
    position: absolute;
    bottom: -18px;
    right: 174px;
  }

  .form__button {
    margin-left: 115px;
  }

  .form__legend {
    width: 14%;
  }

  .form__radio-label::before {
    left: 1px;
    top: -15px;
  }

  .form__radio-label::after {
    left: 17px;
    top: 0;
  }
}
