.hero-unit {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 575px;
  padding-top: 49px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.hero-unit__title {
  font-size: $fz-xxl;
  font-weight: $fw-bold;
  line-height: 30px;
  margin-bottom: 122px;
  text-align: center;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.hero-unit__list {
  @include clear-list;
}

.hero-unit__item {
  background-color: $bg-green;
}

.hero-unit__item--dark {
  background-color: $bg-green-dark;
}

.hero-unit__link {
  @include clear-link;
  display: flex;
  justify-content: space-between;
  background-color: $bg-green;
  color: $c-text-white;
  font-size: $fz-l;
  font-weight: $fw-bold;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 17px;
  padding-left: 29px;
  padding-right: 27px;
  background-repeat: no-repeat;
  // opacity: 0.5;
  // background-position: right 37px center;

  span {
    display: block;
    width: 100px;
  }

  svg {
    opacity: 0.5;
  }
}

.hero-unit__link--dark {
  background-color: $bg-green-dark;
}

.hero-unit__link--interior:hover,
.hero-unit__link--interior:focus {
  background-color: #59d5bc;

  svg {
    opacity: 1;
  }
}

.hero-unit__link--interior:active {
  span,
  svg {
    opacity: 0.3;
  }
}

.hero-unit__link--dark:hover,
.hero-unit__link--dark:focus {
  background-color: #46c1ae;

  svg {
    opacity: 1;
  }
}

.hero-unit__link--dark:active {
  span,
  svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .hero-unit {
    padding-top: 118px;
    background-size: 1150px;
  }

  .hero-unit__title {
    font-size: 43px;
    font-weight: $fw-bold;
    line-height: 50px;
    margin-bottom: 371px;
    text-align: center;
    width: 500px;
  }

  .hero-unit__list {
    display: flex;
    width: 100%;
  }

  .hero-unit__item {
    width: 50%;
  }

  .hero-unit__link {
    padding-right: 35px;
  }
}


@media (min-width: $desktop-width) {
  .hero-unit {
    padding-top: 112px;
  }

  .hero-unit__title {
    font-size: 53px;
    font-weight: $fw-bold;
    line-height: 57px;
    margin-bottom: 359px;
    text-align: center;
    width: 620px;
  }

  .hero-unit__list {
    display: flex;
    width: 100%;
  }

  .hero-unit__item {
    width: 50%;
  }
}
