.hero-unit {
  background-image: url("../img/hero-mobile@1x.jpg");
  padding-top: 75px;
}

.hero-unit__title {
  font-size: $fz-xxl;
  font-weight: $fw-bold;
  line-height: 30px;
  margin-bottom: 120px;
}

.hero-unit__list {
  @include clear-list;
}

.hero-unit__item {
  background-color: $bg-green;
}

.hero-unit__item--dark {
  background-color: $bg-green-dark;
}

.hero-unit__link {
  @include clear-link;
  display: block;
  background-color: $bg-green;
  color: $c_text_white;
  font-size: $fz-l;
  font-weight: $fw-bold;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.hero-unit__link--dark {
  background-color: $bg-green-dark;
}
