.main-nav {
  background-color: $bg-white;
  color: $c-text-base;
  font-size: $fz-base;
}

.main-nav__list {
  @include clear-list;
}

.main-nav__search {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-nav__cart {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__list:last-child {
    margin-left: auto;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__search {
    padding: 0;
  }

  .main-nav__cart {
    padding: 0;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__search {
    padding: 0;
  }

  .main-nav__cart {
    padding: 0;
  }
}
