.main-nav {
  background-color: $bg-white;
  color: $c-text-base;
  font-size: $fz-base;
}

.main-nav__list {
  @include clear-list;
}

.main-nav__search {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-nav__cart {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}
