.main-nav {
  position: relative;
  background-color: $bg-white;
  color: $c-text-base;
  font-size: $fz-base;
}

.main-nav__list {
  @include clear-list;
}

.main-nav__search {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-nav__cart {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-nav__toggle {
  position: absolute;
  top: -55px;
  right: -15px;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 14px;
    right: 1px;

    width: 29px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    display: flex;
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    width: 100%;
  }

  .main-nav__list-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-color: transparent;
  }

  // .main-nav__list:first-child {
  //   margin-bottom: 10px;
  // }

  .main-nav__list:last-child {
    margin-left: auto;
    margin-bottom: 45px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__search {
    padding: 0;
  }

  .main-nav__cart {
    padding: 0;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__search {
    padding: 0;
  }

  .main-nav__cart {
    padding: 0;
  }
}
