.making {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 33px;
  border-bottom: 1px solid #ececec;
}

.making__title {
  color: $c_text_base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 90px;
  padding-right: 40px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: center left 34px;
}

.making__desc {
  color: $c-text-alt;
  font-size: $fz-xs;
  font-weight: $fw-base;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 34px;
  padding-right: 43px;
}

.making__video-link {
  margin-bottom: 30px;
  display: block;
}

.making__video {
  min-height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.making__in-cart {
  width: 192px;
  margin: 0 auto;
  display: block;
  padding-left: 25px;
}
