.making {
  position: relative;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  // padding-left: 30px;
  // padding-right: 30px;
  padding-top: 26px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}

.making:hover,
.making:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.making:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.making__title {
  color: $c_text_base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 23px;
  padding-left: 90px;
  padding-right: 40px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: center left 34px;
}

.making__desc {
  color: $c-text-alt;
  font-size: $fz-xs;
  font-weight: $fw-base;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 34px;
  padding-right: 43px;
}

.making__video-link {
  position: relative;
  margin-bottom: 27px;
  display: block;
}

.making__video {
  min-height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.making__video-link svg {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
}

.making__video-link:hover svg,
.making__video-link:focus svg {
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.making__video-link:active svg {
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  opacity: 0.3;
}

.making__in-cart {
  width: 192px;
  margin: 0 auto;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $tablet-width) {
  .making {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
    margin-bottom: 63px;
    padding-top: 0;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
  }

  .making__title {
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 24px;
    padding-left: 107px;
    margin-bottom: 32px;
    background-position: center left 41px;
  }

  .making__desc {
    font-size: $fz-s;
    line-height: 30px;
    padding-right: 40px;
    padding-left: 42px;
    margin-bottom: 35px;
  }

  .making__video-link {
    order: -1;
    width: 100%;
    height: 455px;
    margin-bottom: 37px;
  }

  .making__video {
    background-image: url("../img/video-tablet@1x.jpg");
    height: 455px;
  }

  .making__in-cart {
    width: 584px;
    margin: 0 auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}


@media (min-width: $desktop-width) {
  .making {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1050px;
    min-height: 456px;
    margin: 0 auto;
    padding-top: 47px;
    padding-right: 58px;
    padding-left: 760px;
    padding-bottom: 0;
    margin-bottom: 104px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  .making__title {
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 33px;
    padding-top: 48px;
    padding-left: 0;
    padding-right: 15px;
    background-position: top -1px left;
    font-size: 20px;
    line-height: 24px;
  }

  .making__desc-wrapper {
    width: 100%;
    margin-left: auto;
  }

  .making__video-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 64.95%;
    margin-bottom: 0;
  }

  .making__desc {
    display: block;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 46px;
  }

  .making__in-cart {
    width: 100%;
    margin: 0;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}
