.page-header {
  position: relative;
  background-color: $bg-white;
  color: $c-text-base;
  font-size: $fz-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 22px;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-bottom: 22px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    min-height: 90px;
    margin: 0 auto;
    padding-top: 32px;
    background-color: transparent;
  }

  .page-header__logo {
    position: absolute;
    z-index: 1;
    top: 32px;
    margin-bottom: 0;
  }

  .page-header__note {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    order: 5;
    width: 40%;
    display: block;
    color: $c-text-alt;
    font-size: 15px;
    font-weight: $fw-base;
    line-height: 24px;
    margin-left: auto;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
    min-height: 90px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .page-header__logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__note {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    width: 35%;
    order: 5;
    display: block;
    color: $c-text-alt;
    font-size: 15px;
    font-weight: $fw-base;
    line-height: 24px;
  }
}
