.page-footer {
  background-color: $bg-grey;
  padding: 25px 0;
}

.page-footer__wrapper {
  width: 100%;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;

  &:hover path,
  &:focus path {
    fill: $bg-green;
  }

  &:hover,
  &:focus {
    fill: $bg-green;
  }

  &:active path {
    opacity: 0.3;
    fill: $bg-green;
  }

  &:active {
    opacity: 0.3;
    fill: $bg-green;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-footer__logo svg {
    &:active {
      opacity: 0.3;
      fill: $bg-green;
    }
  }
}

.page-footer__social {
  display: flex;
  margin-bottom: 25px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}


@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
    border: none;

    &::before {
      width: 0;
      height: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
  }

  .page-footer__social {
    margin-top: 0;
  }

  .page-footer__copyright {
    margin-top: 3px;
  }
}
