.page-catalog__title {
  background-color: $bg-grey;
  color: $c-text-base;
  font-size: $fz-xxl;
  font-weight: $fw-bold;
  line-height: 30px;
  padding: 74px 40px;
  padding-top: 70px;
  padding-bottom: 76px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .page-catalog {
    margin-top: -43px;
  }

  .page-catalog__title {
    position: relative;
    background-color: $bg-grey;
    color: $c-text-base;
    font-size: 43px;
    font-weight: $fw-bold;
    line-height: 50px;
    padding: 95px 40px;
    padding-bottom: 80px;
  }

  .page-catalog__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    left: 0;
    bottom: -11px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 777px;
  }
}


@media (min-width: $desktop-width) {
  .page-catalog {
    margin-top: -43px;
  }

  .page-catalog__title::after {
    bottom: -17px;
    background-size: 1158px;
  }

  .page-catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 94px;
    padding-bottom: 102px;
    margin-bottom: 100px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media (min-width: $tablet-width) {
    .page-catalog__title {
      margin-top: -44px;
    }
  }

  @media (min-width: $desktop-width) {
    .page-catalog__title {
      margin-top: -25px;
    }
  }
}
