.page-header {
  background-color: $bg-white;
  color: $c-text-base;
  font-size: $fz-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 22px;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    min-height: 90px;
    margin: 0 auto;
    padding-top: 0;
  }

  .page-header__logo {
    margin-right: auto;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1050px;
    min-height: 90px;
    margin: 0 auto;
  }

  .page-header__logo {
    margin-right: 0;
  }
}
