.popular {
  // background-image: url("../img/bg-zigzag-line.svg");
  // background-repeat: no-repeat;
  // background-position: bottom;
}

.popular__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.popular__title-link {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-xl;
  font-weight: $fw-bold;
  line-height: 30px;
}

.popular__title {
  margin-bottom: 8px;
}

.popular__deal {
  color: $c-text-green;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 20px;
  display: block;
  margin-bottom: 30px;
}

.popular__intro {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 24px;
}

.popular__table {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  margin-bottom: 25px;
}

.popular__image {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  margin-bottom: 25px;
  align-self: center;
}

.popular__order {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-bold;
  line-height: 24px;
  margin-bottom: 25px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.popular__price {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hero-unit__list {
    display: flex;
    width: 100%;
  }

  .hero-unit__item {
    width: 50%;
  }

  .popular__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .popular__header {
    width: 100%;
    margin-right: -30px;
  }

  .popular__order {
    margin-top: -161px;
  }

  .popular__image {
    margin-top: -79px;
    margin-right: -30px;
    width: 50%;
    height: 404px;
  }

  .popular__intro {
    width: 51%;
  }

  .popular__table {
    width: 50%;
  }
}


@media (min-width: $desktop-width) {
  .hero-unit__list {
    display: flex;
    width: 100%;
  }

  .hero-unit__item {
    width: 50%;
  }

  .popular__image {
    margin-right: -30px;
    width: 50%;
  }
}
