.popular {
  // background-image: url("../img/bg-zigzag-line.svg");
  // background-repeat: no-repeat;
  // background-position: bottom;
  padding-top: 26px;
}

.popular__wrapper {
  position: relative;
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.popular__title-link {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-xl;
  font-weight: $fw-bold;
  line-height: 30px;
}

.popular__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.popular__deal {
  color: $c-text-green;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 20px;
  display: block;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.popular__intro {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 24px;
}

.popular__table {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  margin-bottom: 25px;
}

.popular__image {
  margin-bottom: 23px;
  align-self: center;
}

.popular__order {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-bold;
  line-height: 24px;
  margin-bottom: 25px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.popular__price {
  color: $c-text-alt;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .popular {
    padding-top: 63px;
    padding-bottom: 52px;
  }

  .popular__wrapper {
    display: flex;
    width: 668px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .popular__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .popular__title-link {
    font-size: 43px;
    font-weight: $fw-bold;
    line-height: 50px;
  }

  .popular__intro {
    color: $c-text-alt;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
    width: 292px;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .popular__deal {
    width: 80px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .popular__table {
    width: 292px;
    margin-bottom: 54px;
  }

  .popular__order {
    width: 292px;
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .popular__price {
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .popular__image {
    position: absolute;
    top: 110px;
    right: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    height: 404px;
  }
}


@media (min-width: $desktop-width) {
  .popular {
    padding-top: 132px;
  }

  .popular__wrapper {
    width: 1050px;
    padding-left: 175px;
  }

  .popular__image {
    height: 636px;
    top: -45px;
    z-index: -1;
  }

  .popular__header {
    position: relative;
  }

  .popular__title-link {
    font-size: 53px;
    font-weight: $fw-bold;
    line-height: 57px;
  }

  .popular__deal {
    position: absolute;
    left: -134px;
    top: 16px;
    text-transform: uppercase;
  }

  .popular__intro {
    width: 292px;
    margin-bottom: 48px;
  }

  .popular__table {
    width: 292px;
    margin-bottom: 111px;
  }

  .popular__order {
    width: 292px;
  }
}
