.popular {
  position: relative;
  padding-top: 26px;
  padding-bottom: 19px;
}

.popular::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 10px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 340px;
}

.popular__wrapper {
  position: relative;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.popular__title-link {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-xl;
  font-weight: $fw-bold;
  line-height: 30px;
}

.popular__title {
  margin-top: 0;
  margin-bottom: 7px;
}

.popular__deal {
  color: $c-text-green;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 20px;
  display: block;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.popular__intro {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 24px;
  margin-top: 21px;
  margin-bottom: 17px;
}

.popular__table {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  margin-bottom: 26px;
}

.popular__table .table__head {
  padding-right: 13px;
}

.popular__image {
  margin-bottom: 25px;
  align-self: center;
}

.popular__order {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-bold;
  line-height: 24px;
  margin-bottom: 24px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.popular__price {
  color: $c-text-alt;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (max-width: $mobile-width-only) {
  .popular__table {
    width: 100%;
  }

  .popular__image img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .popular {
    padding-top: 33px;
    padding-bottom: 67px;
  }

  .popular::after {
    height: 15px;
    background-size: 725px;
  }

  .popular__wrapper {
    display: flex;
    width: 88%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .popular__header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .popular__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .popular__title-link {
    font-size: 43px;
    font-weight: $fw-bold;
    line-height: 50px;
  }

  .popular__intro {
    color: $c-text-alt;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
    width: 100%;
    padding-right: 56%;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .popular__deal {
    width: 80px;
    line-height: 17px;
    text-align: center;
    margin-right: 28px;
    margin-bottom: 0;
    margin-top: 12px;
  }

  .popular__table {
    width: 36%;
    margin-bottom: 54px;

    &.table__head {
      padding-right: 21px;
    }
  }

  .popular__table .table__head {
    padding-right: 21px;
  }

  .popular__order {
    width: 100%;
    padding-right: 56%;
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .popular__price {
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .popular__image {
    position: absolute;
    top: 107px;
    right: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    height: 404px;
  }
}


@media (min-width: $desktop-width) {
  .popular {
    padding-bottom: 94px;
    padding-top: 105px;
  }

  .popular::after {
    height: 23px;
    background-size: 950px;
  }

  .popular__wrapper {
    width: 1050px;
    padding-left: 175px;
  }

  .popular__image {
    height: 636px;
    top: -53px;
    z-index: -1;
  }

  .popular__header {
    position: relative;
  }

  .popular__title-link {
    font-size: 53px;
    font-weight: $fw-bold;
    line-height: 57px;
    letter-spacing: -0.5px;
  }

  .popular__deal {
    position: absolute;
    left: -134px;
    top: 5px;
    text-transform: uppercase;
  }

  .popular__intro {
    width: 100%;
    padding-right: 66%;
    margin-bottom: 46px;
  }

  .popular__table {
    width: 33%;
    margin-bottom: 108px;
  }

  .popular__table .table__head {
    padding-right: 1px;
  }

  .popular__order {
    width: 100%;
    padding-right: 66%;
  }

  .popular__button {
    width: 292px;
  }
}
