.reviews {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 52px;
}

.reviews::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 10px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 340px;
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  color: $c-text-base;
  font-size: $fz-xl;
  font-weight: $fw-bold;
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 9px;
}

.reviews__list {
  @include clear-list;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.review__text {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 30px;
  margin-bottom: 28px;
}

.review__author {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
}

.review__author-nickname {
  @include clear-link;
  color: $c-text-alt;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: 30px;
  margin-bottom: 31px;
}

.reviews__write {
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
}

// @media (max-width: $mobile-width-only) {
// }

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    min-height: 457px;
    padding-top: 51px;
    padding-bottom: 94px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews::after {
    height: 15px;
    background-size: 725px;
  }

  .reviews__wrapper {
    width: 88%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  .reviews__write {
    position: absolute;
    top: 28px;
    right: 4px;
    min-width: 175px;
    align-self: flex-end;
  }

  .review__text {
    margin-top: 0;
    margin-bottom: 58px;
    font-size: $fz-base;
    font-weight: $fw-base;
    line-height: 30px;
  }

  .review__author {
    padding-right: 200px;
  }

  .review__author-nickname {
    padding-right: 200px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 100%;
    max-width: 1050px;
    min-height: 457px;
    padding-top: 54px;
    padding-bottom: 127px;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews::after {
    display: none;
  }

  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 174px;
    padding-right: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 17px;
  }

  .reviews__write {
    min-width: 175px;
    top: 25px;
    right: 0;
  }

  .review__text {
    margin-bottom: 40px;
    padding-right: 100px;
  }
}
