.reviews {
  width: 320px;
  margin: 0 auto;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  color: $c-text-base;
  font-size: $fz-xl;
  font-weight: $fw-bold;
  line-height: 30px;
}

.reviews__list {
  @include clear-list;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.review__text {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 30px;
}

.review__author {
  @include clear-link;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
}

.review__author-nickname {
  @include clear-link;
  color: $c-text-alt;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: 30px;
  margin-bottom: 30px;
}

.reviews__write {
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    min-height: 457px;
    padding-top: 79px;
  }

  .reviews__wrapper {
    width: 668px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__write {
    min-width: 175px;
    align-self: flex-end;
    order: -1;
    margin-bottom: -67px;
  }

  .review__text {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 100%;
    min-height: 457px;
    padding-top: 79px;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 0;
  }

  .reviews__write {
    min-width: 175px;
    align-self: flex-end;
    order: -1;
    margin-bottom: -67px;
  }

  .review__text {
    margin-bottom: 65px;
  }
}
