.site-list {
  @include clear-mp;
}

.site-list__item {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-list__link {
  @include clear-link;
  position: relative;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
}

.site-list__svg {
  position: absolute;
  left: -30px;
  top: 2px;
}
