.site-list {
  @include clear-mp;
}

.site-list__item {
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ececec;
  position: relative;
}

.site-list--desktop {
  display: none;
}

// .site-list__item::before {
//   position: absolute;
//   top: 1px;
//   left: 1px;
//   content: "";
//   width: 100px;
//   height: 1px;
//   background-color: #ececec;
//   z-index: 1;
// }

.site-list__link {
  @include clear-link;
  position: relative;
  color: $c-text-base;
  font-size: $fz-base;
  font-weight: $fw-bold;
  line-height: 24px;
}

.site-list__link[href] {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__svg {
  position: absolute;
  left: -30px;
  top: 2px;
}

@media (max-width: $mobile-width-only) {
  .site-list {
    display: flex;
    flex-direction: column;
  }

  .site-list__item {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 30px;
  }

  // .site-list__link {
  //   margin-left: 40%;
  // }

  .site-list--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    order: 6;
  }

  .site-list__item {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 35px;
    border: none;
  }

  .site-list--desktop {
    display: none;
  }


  .site-list__link {
    font-size: $fz-s;
  }

  .site-list__link--search {
    font-size: 0;
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    width: 65%;
  }

  .site-list:first-child {
    order: -1;
    width: 45%;
    margin-bottom: 23px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .site-list--desktop {
    display: flex;
    order: 2;
    padding-right: 300px;

    .site-list__link {
      font-size: $fz-s;
    }
  }

  .site-list__item {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  .site-list__item:last-child {
    padding-left: 30px;
  }

  .site-list__link {
    font-size: $fz-base;
    font-weight: $fw-bold;
    line-height: 24px;
  }

  .site-list__link--search {
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
  }
}
