.slider__controls {
  display: flex;
  align-self: center;
  margin-bottom: 38px;
}

.slider__control {
  text-align: center;
  line-height: 1;
  overflow: hidden;
  text-decoration: none;
  width: 130px;
  height: 50px;
  border: 1px solid #ececec;
  background-color: $bg-white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

.slider__control:hover,
.slider__control:focus {
  opacity: 0.6;
}

.slider__control:active {
  opacity: 0.3;
}

.slider__control--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.slider__control--next {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .slider__control {
    border: none;
    width: 50px;
  }

  .slider__control:first-child {
    margin-right: 37px;
  }

  .slider__controls {
    align-self: flex-end;
    margin-top: -80px;
    margin-right: 19px;
  }
}


@media (min-width: $desktop-width) {
  .slider__control {
    border: none;
    width: 50px;
  }

  .slider__control:first-child {
    margin-right: 37px;
  }

  .slider__controls {
    align-self: flex-end;
    margin-top: -87px;
    margin-right: 19px;
  }
}
