.table {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  text-align: left;
  border-collapse: collapse;
}

.table__head {
  color: $c-text-alt;
  font-size: $fz-s;
  font-weight: $fw-base;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

.table__row {
  border-bottom: 1px solid #ececec;
}

@media (min-width: $desktop-width) {
  .table__head {
    padding-right: 0;
  }
}
