//COLORS (c - color, bg - background, gr - gradient, bc - border-color, sh - shadows)

$c_text_base: #000000;
$c_text_alt: #444444;
$c_text_white: #ffffff;


$c_link_alt: $c_text_alt;
$c_link-hov_alt: #ffbc9e;
$c_link-act_alt: #ffbc9e;

$bg_white: #ffffff;
$bg_grey: #f1f1f1;
$bg_green: #63d1bb;
$bg_green_dark: #56c3b2;

$bg_sub-nav-title: #d1d0ce;

$bg_social: rgba(255, 255, 255, 0.8);
$bg_social-hov: rgba(255, 255, 255, 0.98);
$bg_social-act: rgba(255, 255, 255, 0.9);

//TYPE

$ff_base: "Open Sans", "Arial", sans-serif;

$fz_xs: 13px;
$fz_s: 15px;
$fz_base: 17px;
$fz_l: 19px;
$fz_xl: 25px;
$fz_xxl: 27px;

$fw_base: 400;
$fw_medium: 500;
$fw_bold: 700;
